* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}


.flex{
  display: flex;
  align-items: center;
}
.flex-btwn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-arround{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* body */

body{
}

header{
  width: 100%;
  margin: 0 auto;
  background-color: #1A1C27;
}

.header-line{
  width: 1px;
  height: 50px;
  background-color: #314354;
  
}

.container{
    width: 1165px;
    margin: 0 auto;
}
.container-1{
  width: 1168px;
  margin: 0 auto;
}
.container-2{
  width: 1173px;
  margin: 0 auto;
}

.top-header{
  background-color: #222533;
  width: 100%;
  height: 5px;
}

.header-line{
  width: 1px;
  height: 50px;
  background-color: #314354;
  margin-right: 18px;
}

.fa-globe{
  margin-right: 15px;
}

.fa-phone{
  margin-right: 12px;
  margin-left: 2px;
}

.fa-paper-plane{
  margin-right: 14px;
}

.over-header{
  color: #A1B1BC;
  display: flex;
  align-items: center;
}
.contact{
  font-family: 'Lato', sans-serif;
  margin-right: 14px;
  font-size: 14px;
  cursor: pointer;
}



span > span{
  color: white;
}
.fa{
  color: #1ABC9C;
  padding: 17px 0;
}



.logo{
  width: 40px;
  height: 45px;
  margin-right: 16px;
  cursor: pointer;
}

.menu{
  display: flex;
  align-items: center;
}

.menu h3{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  color: #2C3E50;
  font-weight: 400;
  margin-right: 85px;
  cursor: pointer;
  margin-top: 3px;
}

.menu h3 span{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 810px;
  margin-right: 41px;
}

.menu ul li a{
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: inline-block;
  /* padding: 38px 0; */
  padding-top: 35px;
  padding-bottom: 40px;
  border-top: 5px solid transparent;
}

.menu ul li a:hover{
  color: #1ABC9C;
  border-top: #1ABC9C 5px solid;
  
}

.search{
  width: 27px;
  height: 29px;
  margin-right: 21px;
  cursor: pointer;
  margin-top: -1px;
}

.bag{
  width: 27px;
  height: 25px;
  cursor: pointer;
  margin-left: 0px;
}



.bottom-header{
  background-color: #222533;
  opacity: 0.8;
  /* padding: 39px 0; */
  margin-bottom: 100px;
  padding-top: 35px;
  padding-bottom: 36px;
}

.classic-blog{
  color: #fff;
  font-size: 29.1px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: -1px;
  margin-right: 20px;
  margin-left: -2px;
  word-spacing: 3px;
}

.burger{
  width: 30px;
  height: 30px;
  margin-top: 3px;
  cursor: pointer;
}

.fa-angle-right{
  color: #fff;
  margin-left: 21px;
  margin-right: 12px;
}

.fa-angle-right-2{
    color: #fff;
    margin-left: 20px;
    margin-right: 14px;
}

.btm-hdr-p{
  color: #ECF0F1;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: -3px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  letter-spacing: 0.3px;
}
.btm-hdr-p:last-child{
  word-spacing: 3px;
  margin-right: -6px;
}

/* grid */

.grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  
}

/* content */

.content-wrapper{
  max-width: 855px;
  grid-column: 3/4;
}

.news1{
  margin-bottom: 87px;
}

.poster{
  width: 850px;
  height: 400px;
  background-color: #CCCCCC;
  margin-bottom: 23px;
}

.news1 h2{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #2C3E50;
  margin-bottom: 8px;
}

.poster-info{
  font-size: 14px;
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.poster-info::after{
  content: '|';
  display: inline-block;
  margin: 0px 8px;
}

.poster-info:last-child::after{
  content: '';
}

.line{
  background-color: #ECF0F1;
  height: 1px;
  width: 850px;
  margin-bottom: 14px;
}

.poster-text{
  font-size: 14px;
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  margin-bottom: 38px;
  max-width: 850px;
}

.readmore{
  background-color: transparent;
  border: 1px solid #2C3E50;
  padding: 12px 21px 17px 20px;
  color: #2C3E50;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  font-weight: 900;
  word-spacing: 4px;
  letter-spacing: 0.3px;
}

.readmore:hover{
  background-color: #2C3E50;
  color: #fff;
}



.slider{
  width: 850px;
  height: 400px;
  background-color: #CCCCCC;
  margin-bottom: 24px;
  position: relative;
}

.slider-right{
  position: absolute;
  right: -12px;
  top: 43.7%;
  color: #2C3E50;
  background-color: #fff;
  padding: 15px 20px 19px 21px;
  cursor: pointer;
}

.slider-left{
  position: absolute;
  left: 0%;
  top: 43.7%;
  color: #2C3E50;
  background-color: #fff;
  padding: 15px 21px 19px 21px;
  border-radius: 1px;
  cursor: pointer;
}

.rolls{
  position: absolute;
  bottom: 22px;
  left: 375px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.rolls div{
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  cursor: pointer;

}
.article2{
  margin-bottom: 85px;
}

.rolls .selected{
  background-color: transparent;
  border:1px solid #fff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
}

.article2 h4{
  font-size: 30px;
  color: #1ABC9C;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}

/* article3 */

.article3{
  margin-bottom: 86px;
}

.article3 h4{
  color: #2C3E50;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 18px;
  margin-bottom: 9px;
}

.poster-text span{
  color: #1ABC9C;
  font-weight: 700;
  /* word-spacing: 0px; */
  margin-right: 3px;
}

.poster-text span span{
  color:#2C3E50;
  font-weight: 700;
  text-decoration: underline;
}

/* article4 */

.article4{
  margin-bottom: 135px;
}

.article4 h4{
  color: #2C3E50;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  margin-top: 33px;
}

.article4 div iframe{
  margin-bottom: 20px;
}

/* sidebar */

.sidebar{
  width: 270px;
  grid-column: 1/2;
  grid-row-start: 1;
  margin-top: -5px;
  margin-left: -;
}

.sidebar-conponent{
  margin-bottom: 51px;
}

.green{
  background-color: #1ABC9C;
  width: 14px;
  height: 7px;
}

.blue{
  width: 14px;
  height: 7px;
  background-color: #46D1FF;
}

.widget-twitter{
  margin-bottom: 22px;
  /* margin-top: 0px; */
}

.widget-twitter h3{
  color: #2C3E50;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-top: 0px;
  word-spacing: -1px;
}

.widget-flickr{
  margin-bottom: 29px;
  /* margin-top: 0px; */
}

.widget-flickr h3{
  color: #2C3E50;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-top: 4px;
  word-spacing: -1px;
}

.widget-tags{
  margin-bottom: 21px;
  margin-top: -10px;
}

.widget-tags h3{
  color: #2C3E50;
  margin-left: 9px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  word-spacing: 0px;
}

.widget-archives{
  margin-bottom: 24px;
  margin-top: -16px;
}

.widget-archives h3{
  color: #2C3E50;
  margin-left: 11px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-top: 4px;
  word-spacing: -2px;
}


.widget-recent{
  margin-bottom: 25px;
  margin-top: -8px;
}

.widget-recent h3{
  color: #2C3E50;
  margin-left: 11px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin-top: 4px;
  word-spacing: -2px;
}


.post1{
  display: flex;
}

.photo{
  width: 40px;
  height: 40px;
  background-color: #CCCCCC;
  border-radius: 5px;
  margin-right: 14px;
  margin-top: 4px;
}


.post-comment{
  font-size: 14px;
  line-height: 17px;
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  width: 215px;
}

.post-comment p:last-child{
  line-height: 24px;
  margin-bottom: 16px;
}

.post-comment p span{
  font-weight: 700;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
  margin-right: 7px;
}

.post-comment p span:hover{
  color: #1ABC9C;
  cursor: pointer;
}

.post-comment p:first-child{
  margin-bottom: 6px;
  word-spacing: 1px;
}



.post-comment a{
  color: #1ABC9C;
}

.sidebar-line{
  width: 270px;
  height: 1px;
  background-color: #DEE5E9;
  margin-bottom: 17px;
}

.flickr-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7px;
  margin-top: 27px;
}

.flickr-wrapper div{
  background-color: #CCCCCC;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flickr-wrapper div p{
  font-size: 40px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: none;
  
}

.flickr-wrapper div:hover p{
  display: block;
}

.flickr-wrapper div:hover {
  background-color: #1FCDAB;
  cursor: pointer;
}

.tags-wrapper{
  display: flex;
  flex-wrap: wrap;
  /* max-width: 275px; */
  margin-top: 31px;
  width: calc(100% + 11px);
}

.tags-wrapper p{
  background-color: #ECF0F1;
  font-family: 'Lato', sans-serif;
  color: #34495E;
  padding: 5px 12px 7px 13px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  margin-right: 3px;
  letter-spacing: 0px;
  border-radius: 7px;
}

.tags-wrapper p:hover{
  background-color: #1ABC9C;
  color: #fff;
  cursor: pointer;
}


.date{
  color: #A1B1BC;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 17px;
  font-family: 'Lato', sans-serif;
}

.date:hover{
  color: #1ABC9C;
  cursor: pointer;
}


.comment-wrapper{
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}

.comment-photo{
  width: 40px;
  height: 40px;
  background-color: #CCCCCC;
  margin-right: 20px;
}

.comment-author p{
  color: #A1B1BC;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 4px;
}

.comment-author p span{
  color: #2C3E50;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.comment{
  color: #A1B1BC;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  max-width: 270px;
  line-height: 24px;
  margin-bottom: 8px;
}

.freebies{
  color: #2C3E50;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 23px;
  word-spacing: -1px;
  /* margin-bottom: 5px; */
}

.freebies-control{
  
margin-top: -10px;
  
margin-bottom: 10px;
}

.fa-foursquare{
  font-size: 14px;
  color: #A1B1BC;
  margin-right: 4px;
  margin-bottom: -8px;
}

.freebies-text{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #A1B1BC;
}

.refresh-text{
  color: #1ABC9C;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  cursor: pointer;


}

.refresh{
  margin-top: -14px;
}

.fa-refresh{
  color: #1ABC9C;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

/* footer */

footer{
  background-color: #1A1C27;
  width: 100%;
  padding: 85px 0 92px;
  border-bottom: 0px solid #2B2E3C;
  border-top: 1px solid #2B2E3C;
}

.footer-col1{
  width: 278px;
}

.footer-col1 h4{
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 18px;
  margin-top: 6px;
}

.footer-col1 h4 span{
  font-weight: 700;
  color: #1ABC9C;
}


.footer-col1 p{
  color: #A1B1BC;
  font-size: 14px;
  line-height: 24px;
  word-spacing: 0px;
  font-family: 'Lato', sans-serif;
}

.footer-col1 p:first-of-type{
  margin-bottom: 24px;
  word-spacing: 0px;
  font-family: 'Lato', sans-serif;
}


.footer-col2{
  width: 270px;
}

.footer-col2 h5{
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 45px;
  margin-top: 16px;
  margin-left: -4px;
}

.footer-col2 h5::before{
  content: '';
  display: inline-block;
  background-color: #1ABC9C;
  width: 5px;
  height: 18px;
  margin-right: 19px;
}

.footer-col2 span{
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  margin-right: 5px;
  margin-top: -3px;
}

.footer-line{
  background-color: #262837;
  width: 270px;
  height: 1px;
  margin: 16px 0;
}

.posts-title{
  color: #A1B1BC;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-left: -4px;
}


/* col3 */

.footer-col3{
  width: 270px;
}



.footer-col3 h5{
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 44px;
  margin-top: 15px;
  margin-left: -2px;
}

.footer-col3 h5::before{
  content: '';
  display: inline-block;
  background-color: #1ABC9C;
  width: 5px;
  height: 18px;
  margin-right: 19px;
  margin-left: 3px;
}



.fa-send{
  font-size: 24px;
  color: #A1B1BC;
  margin-right: 6px;
  margin-top: -11px;
  margin-left: 2px;
}

.send-time{
  font-family: 'Lato', sans-serif;
  width: 160px;
  margin-bottom: 5px;
}

.send-time h6{
  color: #A1B1BC;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: -1px;
  margin-left: -66px;
}

.send-time p{
  color: #6D7D89;
  font-size: 12px;
  margin-left: -66px;
}

.send-time2{
  font-family: 'Lato', sans-serif;
  width: 160px;
  margin-bottom: 5px;
}

.send-time2 h6{
  color: #A1B1BC;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: -3px;
  margin-left: -67px;
  word-spacing: -1px;
}

.send-time2 p{
  color: #6D7D89;
  font-size: 12px;
  margin-left: -66px;
}

.wp-version{
  width: 230px;
}

.wp-version a{
  color: #1ABC9C;
  font-size: 14px;
  line-height: 24px;

}

.works-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7.3px;
  margin-left: 5px;
}

.works-wrapper div{
  width: 85px;
  height: 85px;
  background-color: #1ABC9C;
}


.footer-col4{
  width: 270px;
}



.footer-col4 h5{
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 48px;
  margin-top: 13px;
}

.footer-col4 h5::before{
  content: '';
  display: inline-block;
  background-color: #1ABC9C;
  width: 5px;
  height: 18px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 2px;
}

/* footer-end */

.footer-end{
  width: 100%;
  background-color: #222533;
  padding: 26px 0 29px;
}

.footnote{
  color: #A1B1BC;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  word-spacing: -1px;
}

.footnote span{
  color: #1ABC9C;
}

.footnote h3::after{
  content: '';
  display: inline-block;
  background-color: #2C3E50;
  width: 1px;
  height: 13px;
  margin: 0 6px;
}
.footnote h3:last-child{
  margin-left: -2px;
}
.footnote h3:last-child::after{
  display: none;
}
.endmenu-1{
  margin-right: 25px;
}